<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link media="all" rel="stylesheet" th:href="@{/css/styleLogin.css}" type="text/css"/>
</head>
<body>

<div class="login-page">
    <div class="form">
        <form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
            <input type="text" th:field="*{username}" placeholder="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
            <br/>
            <input type="text" th:field="*{yearOfBirth}" placeholder="year of birth"/>
            <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth Error
            </div>
            <br/>
            <input type="password" th:field="*{password}" placeholder="year of birth"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
            <br/>
            <button>create</button>
            <p class="message">Already registered? <a th:href="@{/auth/login}">Sign In</a></p>
        </form>
    </div>
</div>

</body>
</html>