<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
<p th:text="${person.getUsername() + ', ' + person.getYearOfBirth()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<!--Кнопка изменения пользователя-->
<a th:href="@{/administrator/people/{id}/edit(id=${person.getId()})}">Edit</a>
<br/>
<br/>
<!--Кнопка удаления пользователя-->
<form th:method="DELETE" th:action="@{/administrator/people/{id}(id=${person.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>