/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 50vh;
    letter-spacing: 3px;

    background: linear-gradient(to top, rgba(17, 203, 245, 0.5), rgba(17, 203, 245, 0.5)),
    url("../images/page2/intro.jpg") center no-repeat fixed;
    -webkit-background-size: cover;
}