/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 50vh;
    letter-spacing: 3px;


    background: linear-gradient(to top, rgba(17, 203, 245, 0.5), rgba(17, 203, 245, 0.5)),
    url("../images/introForHeadExercise.png") center no-repeat fixed;
    -webkit-background-size: cover;
}

/*Button*/

.button__center {
    margin-left: 250px;

    background-color: #5cf775;
    border: none;
    color: white;

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;

    border-radius: 10px;

    transition: background 0.1s linear,
    color 0.1s linear;
}

.button__center:hover {
    background-color: #27f549;
    color: #333;
}
/*Code*/
.block__text {
    padding: 30px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

.textarea__text {
    font-family: verdana, 'open sans', sans-serif;
    font-size: 25px;

    border-radius: 5px;
    height: 400px;
    width: 100%;
}

.nav button {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;

    font-size: 14px;
    text-transform: uppercase;
}
