<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/generalStyle.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/styleAdminPage.css}" type="text/css"/>
    <title>Admin page</title>
</head>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">LoGo</div>
            <form th:action="@{/logout}" th:method="POST">
                <nav class="nav">
                    <a class="nav__link" th:href="@{/logo}">Главная</a>
                    <a class="nav__link" href="#">Список заданий</a>
                    <a class="nav__link" th:href="@{#footer}">Контакты</a>
                    <button class="nav__link" type="submit">Выйти</button>
                </nav>
            </form>
        </div>
    </div>
</header>

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">
                Вводное занятие.
            </h1>
            <h2 class="intro_subtitle">
                Знакомство с курсом, его основными положениями, языком программирования и средой разработки.
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="main__text">

    </div>
</div>
<div class="button">
    <div class="container">
        <a th:href="@{/les2}" class="button__next">Следующий урок</a>
    </div>
</div>

<footer class="footer" id="footer">
    <div class="container">
        <nav>
            <a th:href="@{https://github.com/floMaxter}" target="_blank"><img src="../static/images/page1/github.png"
                                                                              th:src="@{images/page1/github.png}"></a>
            <a th:href="@{https://vk.com/id262272811}" target="_blank"><img src="../static/images/page1/vk.png"
                                                                            th:src="@{images/page1/vk.png}"></a>
            <a th:href="@{https://t.me/mv_flomaxter}" target="_blank"><img src="../static/images/page1/tg.png"
                                                                           th:src="@{images/page1/tg.png}"></a>
        </nav>
        <div class="header__logo">LoGo</div>
    </div>
</footer>

</body>
</html>