<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/generalStyle.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/styleListAllLessons.css}" type="text/css"/>
    <title>All lessons</title>
</head>
<body>

<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">LoGo</div>
                <form th:action="@{/logout}" th:method="POST">
                    <nav class="nav">
                        <a class="nav__link" th:href="@{/logo}">Главная</a>
                        <a class="nav__link" th:href="@{#footer}">Контакты</a>
                        <button class="nav__link" type="submit">Выйти</button>
                    </nav>
                </form>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro__title">
                    Страничка администратора
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main__text">
            <table>
                <tr>
                    <th>Номер задания</th>
                    <th>Название урока</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a th:href="@{/les1}">Введение</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a th:href="@{/les2}">Классы и объекты</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a th:href="@{/les3}">Тест по теме "классы и объекты"</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a th:href="@{/les4}">Конструкторы, поля и методы, сеттеры и геттеры</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a th:href="@{/les5}">Практическое задание по теме классы</a></td>
                </tr>
            </table>
        </div>
    </div>

    <footer class="footer" id="footer">
        <div class="container">
            <nav>
                <a th:href="@{https://github.com/floMaxter}" target="_blank"><img src="../static/images/page1/github.png"
                                                                                  th:src="@{images/page1/github.png}"></a>
                <a th:href="@{https://vk.com/id262272811}" target="_blank"><img src="../static/images/page1/vk.png"
                                                                                th:src="@{images/page1/vk.png}"></a>
                <a th:href="@{https://t.me/mv_flomaxter}" target="_blank"><img src="../static/images/page1/tg.png"
                                                                               th:src="@{images/page1/tg.png}"></a>
            </nav>
            <div class="header__logo">LoGo</div>
        </div>
    </footer>
</div>

</body>
</html>