<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/generalStyle.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/stylePage4.css}" type="text/css"/>
    <title>Page4</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">LoGo</div>
            <form th:action="@{/logout}" th:method="POST">
                <nav class="nav">
                    <a class="nav__link" th:href="@{/logo}">Главная</a>
                    <a class="nav__link" th:href="@{/lessons}">Список заданий</a>
                    <a class="nav__link" th:href="@{#footer}">Контакты</a>
                    <button class="nav__link" type="submit">Выйти</button>
                </nav>
            </form>
        </div>
    </div>
</header>

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">
                Тест
            </h1>
            <h2 class="intro_subtitle">
                Чтобы удостовериться, что вы поняли материал, пройдите тестирование.
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="main__text">

        <form th:method="POST">

        </form>

        <!--<p>1. Что такое ООП?</p>
        <div class="block__test">
            <input type="checkbox" value="yes">Язык программирования</input>
            <br/>
            <input type="checkbox" value="yes">Методология программирования</input>
            <br/>
            <input type="checkbox" value="yes">Способ оформления текста</input>
            <br/>
            <input type="checkbox" value="yes">Способ общения между методами и полями</input>
        </div>

        <p>2. Как называется функция внутри класса?</p>
        <div class="block__test">
            <input type="checkbox" value="yes">Аргумент</input>
            <br/>
            <input type="checkbox" value="yes">Параметр</input>
            <br/>
            <input type="checkbox" value="yes">Метод</input>
            <br/>
            <input type="checkbox" value="yes">Производная</input>
        </div>

        <p>3. Что такое интерфейс класса?</p>
        <div class="block__test">
            <input type="checkbox" value="yes">Набор методов класса, которые доступны для использования из вне</input>
            <br/>
            <input type="checkbox" value="yes">Набор методов класса, которые доступны только для внутренних полей и
            методов</input>
            <br/>
            <input type="checkbox" value="yes">Набор полей класса, которые доступны для использования из вне</input>
            <br/>
            <input type="checkbox" value="yes">Набор методов класса, которые доступны для только для внутренних полей и
            методов</input>
        </div>

        <p>4. Что такое объект класса?</p>
        <div class="block__test">
            <input type="checkbox" value="yes">Сам класс</input>
            <br/>
            <input type="checkbox" value="yes">Отдельный представитель класса</input>
            <br/>
            <input type="checkbox" value="yes">Класс, который использует данный определенного класса</input>
            <br/>
            <input type="checkbox" value="yes">Данные внутри класса</input>
        </div>-->
    </div>
</div>

<!--<div class="button">
    <div class="container">
        <a th:href="@{/les2}" class="button__prev">Предыдущий урок</a>
        <a class="button__center">Проверить</a>
        <a th:href="@{/les4}" class="button__next">Следующий урок</a>
    </div>
</div>-->

<footer class="footer" id="footer">
    <div class="container">
        <nav>
            <a th:href="@{https://github.com/floMaxter}" target="_blank"><img src="../static/images/page1/github.png"
                                                                              th:src="@{images/page1/github.png}"></a>
            <a th:href="@{https://vk.com/id262272811}" target="_blank"><img src="../static/images/page1/vk.png"
                                                                            th:src="@{images/page1/vk.png}"></a>
            <a th:href="@{https://t.me/mv_flomaxter}" target="_blank"><img src="../static/images/page1/tg.png"
                                                                           th:src="@{images/page1/tg.png}"></a>
        </nav>
        <div class="header__logo">LoGo</div>
    </div>
</footer>

</body>
</html>