<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/generalStyle.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/stylePage2.css}" type="text/css"/>
    <title>Page2</title>
</head>
<body>

<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">LoGo</div>
                <form th:action="@{/logout}" th:method="POST">
                    <nav class="nav">
                        <a class="nav__link" th:href="@{/logo}">Главная</a>
                        <a class="nav__link" th:href="@{/lessons}">Список заданий</a>
                        <a class="nav__link" th:href="@{#footer}">Контакты</a>
                        <button class="nav__link" type="submit">Выйти</button>
                    </nav>
                </form>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro__title">
                    Вводное занятие.
                </h1>
                <h2 class="intro_subtitle">
                    Знакомство с курсом, его основными положениями, языком программирования и средой разработки.
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main__text">
            <h2>Введение.</h2>
            <p>В окончательном виде любая программа представляет собой набор инструкций процессора. Все, что написано на
                любом языке программирования, — более удобная, упрощенная запись этого набора инструкций, облегчающая
                написание, отладку и последующую модификацию программы. Чем выше уровень языка, тем в более простой форме
                записываются одни и те же действия. Например, для реализации цикла на языке ассемблера требуется записать
                последовательность инструкций, позаботившись о размещении переменных в регистрах, а в Java или Паскале для
                этого достаточно одного оператора.</p>

            <h2>Зачем усложнять?</h2>
            <p>С ростом объема программы становится невозможным удерживать в памяти все детали, и становится необходимым
                структурировать информацию, выделять главное и отбрасывать несущественное. Этот процесс называется
                повышением степени абстракции программы.</p>

            <p>Первым шагом к повышению абстракции является использование функций, позволяющее после написания и отладки
                функции отвлечься от деталей ее реализации, поскольку для вызова функции требуется знать только ее
                интерфейс. Если глобальные переменные не используются, интерфейс полностью определяется заголовком
                функции.</p>

            <p>Следующий шаг — описание собственных типов данных, позволяющих структурировать и группировать информацию,
                представляя ее в более естественном виде. Например, можно представить с помощью одной структуры все
                разнородные сведения, относящиеся к одному виду товара на складе.</p>

            <p>Для работы с собственными типами данных требуются специальные функции. Естественно сгруппировать их с
                описанием этих типов данных в одном месте программы, а также по возможности отделить от ее остальных частей.
                При этом для использования этих типов и функций не требуется полного знания того, как именно они написаны —
                необходимы только описания интерфейсов. Объединение в модули описаний типов данных и функций,
                предназначенных для работы с ними, со скрытием от пользователя модуля несущественных деталей, является
                дальнейшим развитием структуризации программы.</p>

            <p>Все три описанных выше метода повышения абстракции преследуют цель упростить структуру программы, то есть
                представить ее в виде меньшего количества более крупных блоков и минимизировать связи между ними. Это
                позволяет управлять большим объемом информации и, следовательно, успешно отлаживать более сложные
                программы.</p>

            <p>Для этого вводится такое понятие, как классы, которое является естественным развитием идей модульности. Но
                обо всем по порядку.</p>
        </div>
    </div>
    <div class="button">
        <div class="container">
            <a th:href="@{/les2}" class="button__next">Следующий урок</a>
        </div>
    </div>

    <footer class="footer" id="footer">
        <div class="container">
            <nav>
                <a th:href="@{https://github.com/floMaxter}" target="_blank"><img src="../static/images/page1/github.png"
                                                                                  th:src="@{images/page1/github.png}"></a>
                <a th:href="@{https://vk.com/id262272811}" target="_blank"><img src="../static/images/page1/vk.png"
                                                                                th:src="@{images/page1/vk.png}"></a>
                <a th:href="@{https://t.me/mv_flomaxter}" target="_blank"><img src="../static/images/page1/tg.png"
                                                                               th:src="@{images/page1/tg.png}"></a>
            </nav>
            <div class="header__logo">LoGo</div>
        </div>
    </footer>
</div>

</body>
</html>