<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/generalStyle.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/stylePage6.css}" type="text/css"/>
    <title>Page6</title>
</head>
<body>

<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">LoGo</div>
                <form th:action="@{/logout}" th:method="POST">
                    <nav class="nav">
                        <a class="nav__link" th:href="@{/logo}">Главная</a>
                        <a class="nav__link" th:href="@{/lessons}">Список заданий</a>
                        <a class="nav__link" th:href="@{#footer}">Контакты</a>
                        <button class="nav__link" type="submit">Выйти</button>
                    </nav>
                </form>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro__title">
                    Учебные упражнения
                </h1>
                <h2 class="intro_subtitle">
                    На данном уроке вы отработаете создание классов, добавление полей и методов.
                </h2>
            </div>
        </div>
    </div>

    <form th:method="POST" th:action="@{/les5}" th:object="${task}">
        <div class="container">
            <div class="main__text">
                <h2>Задания:</h2>
                <ol>
                    <li>Создайте класс с названием Car.</li>
                    <li>У класса Car должны быть приватные поля brand, model, yearOfEdition, mileage.</li>
                    <li>Класс должен содержать конструктор без параметров и конструктор с параметрами для всех полей.</li>
                    <li>В классе должны быть определены сеттеры и геттеры для всех полей.</li>
                </ol>

                <div class="block__text">
                    <textarea cols="3" rows="2" class="textarea__text" th:field="*{answers}"></textarea>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="text__exception">
                <div style="color:red" th:if="${#fields.hasErrors('answers')}" th:errors="*{answers}">Answers Error</div>
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            </div>
        </div>

        <div class="button">
            <div class="container">
                <a th:href="@{/les4}" class="button__prev">Предыдущий урок</a>
                <input class="button__center" type="submit" value="Проверить"/>
                <a th:href="@{/les6}" class="button__next">Следующий урок</a>
            </div>
        </div>
    </form>

    <footer class="footer" id="footer">
        <div class="container">
            <nav>
                <a th:href="@{https://github.com/floMaxter}" target="_blank"><img src="../static/images/page1/github.png"
                                                                                  th:src="@{images/page1/github.png}"></a>
                <a th:href="@{https://vk.com/id262272811}" target="_blank"><img src="../static/images/page1/vk.png"
                                                                                th:src="@{images/page1/vk.png}"></a>
                <a th:href="@{https://t.me/mv_flomaxter}" target="_blank"><img src="../static/images/page1/tg.png"
                                                                               th:src="@{images/page1/tg.png}"></a>
            </nav>
            <div class="header__logo">LoGo</div>
        </div>
    </footer>
</div>

</body>
</html>