<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/generalStyle.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/stylePage3.css}" type="text/css"/>
    <title>Page3</title>
</head>
<body>

<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">LoGo</div>
                <form th:action="@{/logout}" th:method="POST">
                    <nav class="nav">
                        <a class="nav__link" th:href="@{/logo}">Главная</a>
                        <a class="nav__link" th:href="@{/lessons}">Список заданий</a>
                        <a class="nav__link" th:href="@{#footer}">Контакты</a>
                        <button class="nav__link" type="submit">Выйти</button>
                    </nav>
                </form>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro__title">
                    Классы и объекты
                </h1>
                <h2 class="intro_subtitle">
                    Знакомство с новыми сущностями
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main__text">
            <h1>Основные понятия и определения.</h1>
            <br/>
            <h2>Что такое ООП?</h2>
            <p><b>Объектно-ориентированное программирование (ООП)</b> — методология программирования, основанная на
                представлении программы в виде совокупности объектов, каждый из которых является <b><em>экземпляром
                    определенного класса</em></b>, а классы образуют иерархию наследования.</p>
            <ul>
                <li>объектно-ориентированное программирование использует в качестве основных логических конструктивных
                    элементов объекты, а не алгоритмы;
                </li>
                <li>каждый объект является экземпляром определенного класса</li>
                <li>классы образуют иерархии.</li>
            </ul>
            <br/>
            <h2>Класс</h2>
            <p><b>Класс</b> – это способ описания сущности, определяющий состояние и поведение, зависящее от этого
                состояния, а также правила для взаимодействия с данной сущностью (контракт).</p>

            <p>Представьте себе, что вы проектируете автомобиль. Вы знаете, что автомобиль должен содержать двигатель,
                подвеску, две передних фары, 4 колеса, и т.д. Ещё вы знаете, что ваш автомобиль должен иметь возможность
                набирать и сбавлять скорость, совершать поворот и двигаться задним ходом. И, что самое главное, вы точно
                знаете, как взаимодействует двигатель и колёса, согласно каким законам движется распредвал и коленвал, а
                также как устроены дифференциалы. Вы уверены в своих знаниях и начинаете проектирование.</p>

            <p>Вы описываете все запчасти, из которых состоит ваш автомобиль, а также то, каким образом эти запчасти
                взаимодействуют между собой. Кроме того, вы описываете, что должен сделать пользователь, чтобы машина
                затормозила, или включился дальний свет фар. Результатом вашей работы будет некоторый эскиз. Вы только что
                разработали то, что в ООП называется <em>класс</em>.</p>

            <p>С точки зрения программирования класс можно рассматривать как набор данных (полей, атрибутов, членов класса)
                и функций для работы с ними (методов).</p>

            <p>Для того, чтобы определить класс, требуется указать <em>модификатор</em> доступа, о которых мы поговорим в
                следующих уроках, объявить сигнатуру <em>class</em> и дать классу <em>название</em>.
            <p>Например, класс Person будет определяться вот так:</p>
            <div class="block__text">
                <div class="code__text">
                    <p>public class Person {</p>
                    <p>};</p>
                </div>
            </div>

            <br/>
            <h2>Объект</h2>
            <p>Вы отлично потрудились и машины, разработанные по вашим чертежам, сходят с конвейера. Вот они, стоят ровными
                рядами на заводском дворе. Каждая из них точно повторяет ваши чертежи. Все системы взаимодействуют именно
                так, как вы спроектировали. Но каждая машина уникальна. Они все имеют номер кузова и двигателя, но все эти
                номера разные, автомобили различаются цветом, а некоторые даже имеют литьё вместо штампованных дисков. Эти
                автомобили, по сути, являются объектами вашего класса.</p>

            <p><b>Объект (экземпляр)</b> – это отдельный представитель класса, имеющий конкретное состояние и поведение,
                полностью определяемое классом.</p>

            <p>Говоря простым языком, объект имеет конкретные значения атрибутов и методы, работающие с этими значениями на
                основе правил, заданных в классе. В данном примере, если класс – это некоторый абстрактный автомобиль из
                «мира идей», то объект – это конкретный автомобиль, стоящий у вас под окнами.</p>

            <p>После создания класса, мы можем создать экземпляр этого класса, например так:</p>
            <div class="block__text">
                <div class="code__text">
                    <p>public class Person {</p>
                    <p>};</p>
                </div>
                <div class="code__text">
                    public static void class main(String[] args) {
                    <div class="text__indent">Person Tom;</div>
                    };
                </div>
            </div>

            <br/>
            <h2>Интерфейс</h2>
            <p>Когда мы подходим к автомату с кофе или садимся за руль, мы начинаем взаимодействие с ними. Обычно,
                взаимодействие происходит с помощью некоторого набора элементов: щель для приёмки монеток, кнопка выбора
                напитка и отсек выдачи стакана в кофейном автомате; руль, педали, рычаг коробки переключения передач в
                автомобиле. Всегда существует некоторый ограниченный набор элементов управления, с которыми мы можем
                взаимодействовать.</p>

            <p><b>Интерфейс</b> – это набор методов класса, доступных для использования другими классами.</p>

            <p>Хорошим примером интерфейса может служить приборная панель автомобиля, которая позволяет вызвать такие
                методы, как увеличение скорости, торможение, поворот, переключение передач, включение фар, и т.п. То есть
                все действия, которые может осуществить другой класс (в нашем случае – водитель) при взаимодействии с
                автомобилем.</p>

            <p>У человека, например, могут быть такие методы, как ходить, бегать, кидать или брать:</p>
            <div class="block__text">
                <div class="code__text">
                    public class Person {
                    <div class="text__indent">
                        private String name;
                        <br/>public void run();
                        <br/>public void walk();
                    </div>
                    };
                </div>
            </div>
        </div>
    </div>

    <div class="button">
        <div class="container">
            <a th:href="@{/les1}" class="button__prev">Предыдущий урок</a>
            <a th:href="@{/les3}" class="button__next">Следующий урок</a>
        </div>
    </div>

    <footer class="footer" id="footer">
        <div class="container">
            <nav>
                <a th:href="@{https://github.com/floMaxter}" target="_blank"><img src="../static/images/page1/github.png"
                                                                                  th:src="@{images/page1/github.png}"></a>
                <a th:href="@{https://vk.com/id262272811}" target="_blank"><img src="../static/images/page1/vk.png"
                                                                                th:src="@{images/page1/vk.png}"></a>
                <a th:href="@{https://t.me/mv_flomaxter}" target="_blank"><img src="../static/images/page1/tg.png"
                                                                               th:src="@{images/page1/tg.png}"></a>
            </nav>
            <div class="header__logo">LoGo</div>
        </div>
    </footer>
</div>

</body>
</html>